.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
open-square-search-application.iml

# https://jira.nyu.edu/jira/browse/NYUP-594
# For getting static site assets and cover thumbnails to load when developing
# using webpack-dev-server
public/books
public/css
public/fonts
public/images
public/open-square-reader

/tests/browser/errorShots/
/tests/unit/coverage/

/tests/browser/tests/testdata/actual/*

!/tests/browser/tests/testdata/actual/search-results/
/tests/browser/tests/testdata/actual/search-results/*
!/tests/browser/tests/testdata/actual/search-results/chrome/
!/tests/browser/tests/testdata/actual/search-results/firefox/
/tests/browser/tests/testdata/actual/search-results/chrome/*
/tests/browser/tests/testdata/actual/search-results/firefox/*
!/tests/browser/tests/testdata/actual/search-results/chrome/.commit-empty-directory
!/tests/browser/tests/testdata/actual/search-results/firefox/.commit-empty-directory

/tests/browser/tests/testdata/diffs/*

!/tests/browser/tests/testdata/diffs/search-results/
/tests/browser/tests/testdata/diffs/search-results/*
!/tests/browser/tests/testdata/diffs/search-results/chrome/
!/tests/browser/tests/testdata/diffs/search-results/firefox/
/tests/browser/tests/testdata/diffs/search-results/chrome/*
/tests/browser/tests/testdata/diffs/search-results/firefox/*
!/tests/browser/tests/testdata/diffs/search-results/chrome/.commit-empty-directory
!/tests/browser/tests/testdata/diffs/search-results/firefox/.commit-empty-directory
