
$height: 45px !default;
$submit-button-bg: #ffffff !default;
$border-color:#ccc;
.hero-body {
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 400px;
}


.osq-searchbox-hero {
  padding: 50px 0;

}

.osq-search {
  display: flex;
  max-width: 900px;
  width: 100%;
  border: 1px solid $border-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16);

  > * {
    height: $height;

    // transparent border overrides browser defaults
    border: 1px solid transparent;
    font-size: 1rem;

    &:focus {
      // higher z-index specified so that
      // outline/border for focus will be fully visible --
      // not "under" another element
      z-index: 2;
    }
  }

  #osq-searchinput {
    flex: 1 1 auto;
    padding: 2px 1rem;
  }

  [type="submit"] {
    background-color: $submit-button-bg;
    flex: 0 1 70px;

    &:hover {
      cursor: pointer;
      background-color: black;

      path {
        fill: white;
      }
    }

    svg {
      width: auto;
      height: 97%;
    }
  }
}



.osq-pane-results {
  padding-top: 30px;
  header {
    margin-bottom: 20px;
  }
}

.osq-resultsheader {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.osq-results {
  max-width: 50rem;
}

.osq-pane-preview {
  padding: 35px 50px 50px;
  margin-right: .75rem;

  .title {
    font-size: 1.3rem;
    margin-bottom: .4rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: .4rem;
  }
}
