
$height: 45px !default;
$submit-button-bg: #ffffff !default;
$border-color: #cccccc;
$hero-background: #00968840;
$submit-button-hover: #000000;
$submit-button-hover-path: #ffffff;

.book-summary {
  margin-bottom: 2rem;
}

.osq-search {
  display: flex;
  max-width: 50rem;
  width: 100%;
  border: 1px solid $border-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16);

  > * {
    height: $height;

    // transparent border overrides browser defaults
    border: 1px solid transparent;
    font-size: 1rem;

    &:focus {
      // higher z-index specified so that
      // outline/border for focus will be fully visible --
      // not "under" another element
      z-index: 2;
    }
  }

  #osq-searchinput {
    flex: 1 1 auto;
    padding: 2px 1rem;
  }

  [type="submit"] {
    background-color: $submit-button-bg;
    flex: 0 1 70px;

    &:hover {
      cursor: pointer;
      background-color: $submit-button-hover;

      path {
        fill: $submit-button-hover-path;
      }
    }

    svg {
      width: auto;
      height: 97%;
    }
  }
}

.osq-search, .osq-results-hold{
  max-width: 50rem;
  //margin: auto;
}

.osq-panes {
  padding-top: 2rem;
}

.osq-pane-results {
  padding-top: 2rem;

  header {
    margin-bottom: 20px;
  }
}

.osq-resultsheader {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
