.osq-searchbox {
  max-width: 1500px;
  width: 75%;
}

.searchecho {
  background-color: #166f6e94;
}

.columns.osq-searchecho {
  padding-top: 1rem;
  margin-bottom: 0;

  .column {
    padding-bottom: 0;
  }

  .delete {
    margin-left: .4em;
    margin-right: -3px;
    top: -.5rem;
  }

  .tag:not(:last-child) {
    margin-right: 8px;
  }
}
/****************************************************************************************************************************************/

.osq-searchbox-hero .hero-body {
  padding: 2rem 0;
}

.osq-pane {
  //background-color: yellow;
  // height: calc(98vh - 260px);
  // overflow-y: auto;
  // transition: width 0.2s ease-in-out;
}

.osq-pane-facets {
  padding-top: 30px;
  padding-bottom: 60px;

  .listui {
    color: black;
    display: block;
    font-size: .85rem;
    padding: 5px 0;

    i {
      padding-right: 3px;
      display: inline-block;
    }
  }

  .osq-pane-heading {
    padding-top: .54rem;
  }

  .content {
    padding-right: 5px;
  }

  .osq-topics a {
    display: block;
    padding-left: 15px;
    line-height: 1.3;
    padding: 2px 2px 2px 15px;
    text-indent: -15px;

    @include topic-treatment;

    word-break: break-word;
  }
}

.osq-pane-results {
  padding-top: 30px;
  header {
    @include clearfix;
    margin-bottom: 20px;
  }
}

.osq-resultsheader {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.osq-results {
  max-width: 50rem;
}

.osq-pane-preview {
  padding: 35px 50px 50px;
  margin-right: .75rem;

  .title {
    font-size: 1.3rem;
    margin-bottom: .4rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: .4rem;
  }

  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .osq-pageno {
    float: right;
  }

  .osq-buttons {
    width: 100%;

    > a {
      width: 49%;
    }
  }

  .osq-topicsonthispage {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $bordergray;

    // font-family: serif;
    h3 {
      color: #171616;
      font-size: .9rem;
      line-height: 2;
    }

    a {
      @include topic-treatment;
    }

    li {
      display: inline;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .osq-alt-names {
      color: #555;
    }
  }
}
