$bordergray: #dddddd;
$hoverColorTopics: #004646;
$topicFont: 'Crimson Text',
Georgia,
serif;

@mixin topic-treatment() {
  font-family: $topicFont;
  font-size: 1rem;

  &:link,
  &:visited {
    color: teal !important;
  }

  &[href]:hover {
    color: $hoverColorTopics !important;
    text-decoration: none;
    .osq-hitcount {
      color: #000;
    }
    .osq-alt-names {
      color: #222;
    }
  }
  .osq-hitcount {
    color: #444;
    font-size: .9rem;
  }
}





.loader {
  border: 0 !important;
}
